
.contenedor-not-found, .contenedor-not-found-episodio{
    @include flex-centrar($direccion: row, $content: center);
    display: none;
    .icono-flecha-volver{
        margin: 20px;
        color: $color-texto-principal;
    }
    .contenedor-imagen-not-found{
        width: 400px;
        height: auto;
        img{
            width: 100%;
        }
    }
    .contenedor-texto-not-found{
        color: $color-texto-principal;
        font-size: larger;
    }
}