$color-texto-principal: #ebe8e8;
$color-texto-secundario: rgb(192, 187, 187);
$color-background-principal:rgb(0, 0, 33);;
$color-background-secundario: rgb(132, 113, 148);

$color-boton-nav: rgba(250, 249, 248, 0.685);