$color-texto-principal: #ebe8e8;
$color-texto-secundario: rgb(192, 187, 187);
$color-background-principal:rgb(0, 0, 33);
$color-background-secundario: rgb(84, 46, 116);

$color-boton-nav: rgba(250, 249, 248, 0.685);
$color-boton-background: rgb(50, 50, 133);
$sombra-principal: 0px 0px 5px 3px  #C2C2C2;