$color-texto-principal: #ebe8e8;
$color-texto-secundario: rgb(192, 187, 187);
$color-background-principal:rgb(0, 0, 33);
$color-background-secundario: rgb(84, 46, 116);

$color-boton-nav: #faf9f8af;
$color-boton-background: rgb(183, 231, 252);
$sombra-principal: 0px 0px 5px 3px  #C2C2C2;

