@import "reset";
@import "mixins";
@import "variables";
@import "componentes/header";
@import "componentes/seccion-busqueda";

.contenedor-tarjetas-personaje, .contenedor-tarjetas-ubicaciones, .contenedor-tarjetas-episodios {
    @include alto-y-ancho-auto;
}
.icono-flecha-volver{
    .fa-long-arrow-alt-left{
       @include icono-flecha
    }
}
.icono-home{
    @include flex-centrar($direccion: column, $content: center);
    color: $color-texto-principal;
    padding: 10px;
    margin: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    .fa-home{
        color: $color-texto-principal;
        font-size: 38px; 
        
    }
}

.tarjeta-personaje,.tarjeta-ubicaciones,.tarjeta-episodios {
    @include tarjeta;
} 
.tarjeta-ubicaciones, .tarjeta-episodios{
    @include tarjeta;
    .card img{
        width: 200px;
    } 
}
.card{
     margin: 20px;
     padding: 20px;
     border: 1px solid $color-background-secundario;
     border-radius: 10px;
     box-shadow: $sombra-principal;
     background-color: rgb(231, 240, 248);
     color: rgb(46, 45, 45);
     cursor: pointer;
}

.ocultar{
    display: none;
}
.seccion-paginado, .seccion-paginado-episodios, .seccion-paginado-ubicaciones{
   @include flex-centrar;
   color: $color-texto-principal;
  
   .page{
       @include flex-centrar;
       flex-direction: column;
       margin: 5px;
   }
   .icono-left, .icono-right, .icono-left-episode, .icono-right-episode, .icono-left-ubicaciones,
   .icono-right-ubicaciones{
       background-color: transparent;
       border: none;
       font-size: 38px; 
       cursor: pointer;
   }

   .fa-angle-right, .fa-angle-left{
    text-align: center; 
    color: $color-texto-principal;
    width: 60px;
    height: 60px;
    }
}

.contenedor-not-found{
    @include flex-centrar($direccion: row, $content: center);
    display: none;
    .contenedor-imagen-not-found{
        width: 400px;
        height: auto;
        img{
            width: 100%;
        }
    }
    .contenedor-texto-not-found{
        color: $color-texto-principal;
        font-size: larger;
    }
}
//// MEDIA QUERY///

@media screen and (max-width: 1200px) {
    .header{
        display: flex;
        justify-content: center;
        width: 100%;
        flex-wrap: wrap;
        flex-direction: column;
    }
   .nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    @include alto-y-ancho-auto;
       .titulo{
        margin: 0 0 20px 0;
        padding: 0 5px 0 5px;
       }
   }
   .contenedor-img-personaje{
    display: none;
       
    }
    .contenedor-logo{
        width: 640px;
        height: 248px;
        .logo   {
        @include alto-y-ancho-auto;
        }
    }   
   
   .section-busqueda{
    @include flex-centrar($direccion: column, $content: center);
    align-content: center;
    flex-wrap: wrap;
    .seccion-top-form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   }
   
   .input{
    width:auto;
    flex-wrap: wrap;
    }
    .btn-buscar{
      width: auto;  
    }
}
@media screen and (max-width:900px) {
    .section-busqueda{
    @include flex-centrar($direccion: column, $content: center);
    align-content: center;
    flex-wrap: wrap;

    .form{
      .input{
          width: 90%;
          
      }
      .select{
        width: 90%;
       
      }
      .btn-buscar{
        width: 90%;
        
        font-size: medium;
        padding: 5px;
      }
    }
    .seccion-top-form{
        @include flex-centrar($direccion: column, $content: center);
        .seccion-boton-buscar{
            display: flex;
        }
    }
    .card{
        font-size: 0.8em; 
    }
    .card img{
        width:250px;

    }
 }
}

@media screen and (max-width: 700px) {
    .contenedor-logo{
        width: 80%;
        height: 80%;
        .logo   {
        width: 100%;
        }
    } 
    .card{
        width: auto;
        text-align: center;
        flex-wrap: wrap;
        font-size: 0.5em;
    }
    .card img{
        width: 150px;
    }
   
    
}

@media screen and (max-width: 500px) {
    .nav-bar .titulo{
        font-size: 1.1em;
    }
    .nav-bar .contenedor-links-nav a {
        font-size: 1em;
    }
    
}