* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040468;
  font-family: "Fuzzy Bubbles", cursive;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  width: auto;
  align-content: center;
  justify-content: center;
  background-color: #000021;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}
.nav-bar .titulo {
  align-content: flex-start;
  font-family: "Shizuru", cursive;
  font-size: 36px;
  color: #ebe8e8;
}
.nav-bar .contenedor-links-nav {
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
}
.nav-bar .contenedor-links-nav .link {
  width: auto;
  height: auto;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 16px;
  margin: 0 10px 0 10px;
  box-shadow: 0px 0px 5px 3px #C2C2C2;
  background-color: #000021;
}
.nav-bar .contenedor-links-nav a {
  font-size: larger;
  color: #ebe8e8;
}

.contenedor-img-personaje {
  width: 500px;
  height: 400px;
}
.contenedor-img-personaje .imagen-personajes {
  width: 100%;
  height: 100%;
}

.contenedor-logo {
  width: 640px;
  height: 248px;
}
.contenedor-logo .logo {
  width: auto;
  height: auto;
}

.contenedor-imagen-fondo {
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
  background-image: url(../images/fondo-espacio.png);
  background-size: auto;
}

.section-busqueda {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  background-color: #040468;
  align-items: flex-end;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-items: flex-end;
}
.form .input {
  width: 200px;
  height: 40px;
  margin-top: 10px;
}
.form .select {
  width: 200px;
  height: 40px;
  margin: 10px 5px 0 5px;
}
.form .btn-buscar {
  width: 200px;
  height: 40px;
  margin: 0 10px 0 10px;
  border: 1px solid #542e74;
  background-color: #b7e7fc;
  border-radius: 5px;
  color: #ebe8e8;
  font-size: larger;
  box-shadow: 0px 0px 5px 3px #C2C2C2;
  cursor: pointer;
  color: #3a3939;
}
.form .label {
  color: #ebe8e8;
  margin-left: 10px;
}

.column {
  display: flex;
  flex-direction: column;
}

.contenedor-tarjetas-personaje, .contenedor-tarjetas-ubicaciones, .contenedor-tarjetas-episodios {
  width: auto;
  height: auto;
}

.tarjeta-personaje, .tarjeta-ubicaciones, .tarjeta-episodios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #040468;
  color: #2f2f2f;
}

.tarjeta-ubicaciones, .tarjeta-episodios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #040468;
  color: #2f2f2f;
}
.tarjeta-ubicaciones .card img, .tarjeta-episodios .card img {
  width: 200px;
}

.card {
  margin: 20px;
  padding: 20px;
  border: 1px solid #542e74;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 3px #C2C2C2;
  background-color: #e7f0f8;
  color: #2e2d2d;
  cursor: pointer;
}

.ocultar {
  display: none;
}

.seccion-paginado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ebe8e8;
}
.seccion-paginado .page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
}
.seccion-paginado .icono-left, .seccion-paginado .icono-right {
  background-color: transparent;
  border: none;
  font-size: 38px;
  cursor: pointer;
}
.seccion-paginado .fa-angle-right, .seccion-paginado .fa-angle-left {
  text-align: center;
  color: #ebe8e8;
  width: 60px;
  height: 60px;
}

@media screen and (max-width: 1200px) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    align-content: center;
    align-items: center;
  }
  .nav-bar .titulo {
    margin: 5px 0 10px 0;
    padding: 0 5px 0 5px;
  }

  .contenedor-img-personaje {
    display: none;
  }

  .contenedor-logo {
    width: 640px;
    height: 248px;
  }
  .contenedor-logo .logo {
    width: auto;
    height: auto;
  }

  .section-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .section-busqueda .seccion-top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: auto;
    flex-wrap: wrap;
  }

  .btn-buscar {
    width: auto;
  }
}
@media screen and (max-width: 900px) {
  .section-busqueda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .section-busqueda .form .input {
    width: 90%;
  }
  .section-busqueda .form .select {
    width: 90%;
  }
  .section-busqueda .form .btn-buscar {
    width: 90%;
    font-size: medium;
    padding: 5px;
  }
  .section-busqueda .seccion-top-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section-busqueda .seccion-top-form .seccion-boton-buscar {
    display: flex;
  }

  .card {
    font-size: 0.8em;
  }

  .card img {
    width: 250px;
  }
}
@media screen and (max-width: 700px) {
  .contenedor-logo {
    width: 80%;
    height: 80%;
  }
  .contenedor-logo .logo {
    width: 100%;
  }

  .card {
    width: auto;
    text-align: center;
    flex-wrap: wrap;
    font-size: 0.5em;
  }

  .card img {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  .nav-bar .titulo {
    font-size: 1.1em;
  }

  .nav-bar .contenedor-links-nav a {
    font-size: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
