@import "reset";
@import "mixins";
@import "variables";

.nav-bar{
    display: flex;
    background-color: $color-background-principal;
    justify-content:space-around;
    padding: 20px;
    .titulo{
    align-content:flex-start;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-texto-principal;
    }
    .contenedor-links-nav{
    display: flex;
    justify-content:space-evenly;
    align-content: space-between;
        .link{
            width: auto;
            height: auto;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 16px;
            margin: 0 10px 0 10px;
            box-shadow:$sombra-principal;
            background-color: $color-background-principal;
        }
        a{  
        font-size: larger;
        color: $color-texto-principal;
        
        }
    }

}

.contenedor-imagen-fondo{
    display: flex; 
    align-content: center;
    justify-content: center;
    height: 400px;
    width: 100%;
    overflow: hidden; 
    background-image: url(../images/fondo-espacio.png);  
}

.section-busqueda{
    @include flex-centrar($direccion: row, $content:space-around);
    padding-top: 20px;
    background-color: rgb(4, 4, 104);
    align-items: flex-end;
}

form{
 @include flex-centrar($direccion: row,$content:space-around);
 align-items: flex-end;
    .input{
        width: 200px;
        height: 40px; 
        margin-top: 10px;    
    }
    .select{
        width: 200px;
        height: 40px;
        margin: 10px 5px 0 5px;
    }
    .btn-buscar{
        @include btn($backgroundColor:$color-boton-background );
         color: rgb(58, 57, 57);
    }
    .label{
        color: $color-texto-principal;
        margin-left: 10px;
    }
}
.column{
    display: flex;
    flex-direction: column;
}

.contenedor-tarjetas-personaje{
    width: auto;
    height: auto;  
}
.tarjeta-personaje,.tarjeta-ubicaciones {
    @include tarjeta
} 
.tarjeta-episodios{
    @include tarjeta
}
.card{
     margin: 20px;
     padding: 20px;
     border: 1px solid $color-background-secundario;
     border-radius: 10px;
     box-shadow: $sombra-principal;
     background-color: rgb(231, 240, 248);
     color: rgb(46, 45, 45);
     cursor: pointer;
}

.ocultar{
    display: none;
}
.seccion-paginado{
   @include flex-centrar;
   color: $color-texto-principal;
   .fa-angle-right, .fa-angle-left{
    color: $color-texto-principal;
    width: 30px;
    height: 30px;
}
}
